<a href="https://colab.research.google.com/github/fininsight/text-mining-tutorial/blob/master/2_%EB%AC%B8%EC%9E%A5%EC%9D%98_%ED%91%9C%ED%98%84_Sentence_Representation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문장의 표현 (Sentence Representation)

# 1 BoW (Bag of Words)

<img src="https://image.slidesharecdn.com/vector-space-models-170118145044/95/cs571-vector-space-models-3-638.jpg?cb=1485433004" />

https://en.wikipedia.org/wiki/Bag-of-words_model
https://www.slideshare.net/jchoi7s/cs571-vector-space-models

## 1.1 동물원 예제

In [0]:
sentence_ls = [
 '오늘 동물원에서 코끼리를 봤어',
 '오늘 동물원에서 원숭이에게 사과를 줬어'   
]

### 1) 띄어쓰기 단위로 토큰화

In [0]:
sentence_ls = [sentence.split() for sentence in sentence_ls]

In [0]:
sentence_ls

[['오늘', '동물원에서', '코끼리를', '봤어'], ['오늘', '동물원에서', '원숭이에게', '사과를', '줬어']]

### 2) 각 고유 토큰에 인덱스(Index)를 지정

In [0]:
from collections import defaultdict

token_dict = defaultdict(lambda : len(token_dict))

for sentence in sentence_ls:
    for token in sentence:
        token_dict[token]

In [0]:
token_dict

defaultdict(<function __main__.<lambda>>,
            {'동물원에서': 1,
             '봤어': 3,
             '사과를': 5,
             '오늘': 0,
             '원숭이에게': 4,
             '줬어': 6,
             '코끼리를': 2})

### 3) 토큰 인덱스 정렬

In [0]:
index_token_ls = sorted((value, key) for key, value in token_dict.items())
index_token_ls

[(0, '오늘'),
 (1, '동물원에서'),
 (2, '코끼리를'),
 (3, '봤어'),
 (4, '원숭이에게'),
 (5, '사과를'),
 (6, '줬어')]

In [0]:
token_in_order = [tup[1] for tup in index_token_ls]
token_in_order

['오늘', '동물원에서', '코끼리를', '봤어', '원숭이에게', '사과를', '줬어']

### 4) 빈(empty) BOW 생성

In [0]:
import pandas as pd
import numpy as np

n_words = len(token_dict) # 전체 고유 토큰의 수
n_sentence = len(sentence_ls) # 전체 문장의 수

BOW = pd.DataFrame(
    np.zeros((n_sentence, n_words)),
    columns = token_in_order,
    index = ['문장_1', '문장_2'],
    dtype = int,
)

In [0]:
BOW

      오늘  동물원에서  코끼리를  봤어  원숭이에게  사과를  줬어
문장_1   0      0     0   0      0    0   0
문장_2   0      0     0   0      0    0   0

### 5) 각 토큰을 BOW에 하나씩 담는다.

In [0]:
for i, sentence in enumerate(sentence_ls):
    for token in sentence:
        
        token_location = token_dict[token] # 해당 토큰의 위치(column)
        BOW.iloc[i, token_location] += 1

In [0]:
BOW

      오늘  동물원에서  코끼리를  봤어  원숭이에게  사과를  줬어
문장_1   1      1     1   1      0    0   0
문장_2   1      1     0   0      1    1   1



---

## 1.2 양념치킨과 후라이드치킨 예제

In [0]:
sentence_ls = ['나는 양념 치킨을 좋아해 하지만 후라이드 치킨을 싫어해',
               '나는 후라이드 치킨을 좋아해 하지만 양념 치킨을 싫어해']

#### 1) 띄어쓰기 단위로 토큰화

In [0]:
sentence_ls = [sentence.split() for sentence in sentence_ls]

In [0]:
sentence_ls

[['나는', '양념', '치킨을', '좋아해', '하지만', '후라이드', '치킨을', '싫어해'],
 ['나는', '후라이드', '치킨을', '좋아해', '하지만', '양념', '치킨을', '싫어해']]

#### 2) 각 고유 토큰에 인덱스(Index)를 지정

In [0]:
from collections import defaultdict

token_dict = defaultdict(lambda : len(token_dict))

for sentence in sentence_ls:
    for token in sentence:
        token_dict[token]

In [0]:
token_dict

defaultdict(<function __main__.<lambda>>,
            {'나는': 0,
             '싫어해': 6,
             '양념': 1,
             '좋아해': 3,
             '치킨을': 2,
             '하지만': 4,
             '후라이드': 5})

#### 3) 토큰 인덱스 정렬

In [0]:
index_token_ls = sorted((value, key) for key, value in token_dict.items())
index_token_ls

[(0, '나는'),
 (1, '양념'),
 (2, '치킨을'),
 (3, '좋아해'),
 (4, '하지만'),
 (5, '후라이드'),
 (6, '싫어해')]

In [0]:
token_in_order = [tup[1] for tup in index_token_ls]
token_in_order

['나는', '양념', '치킨을', '좋아해', '하지만', '후라이드', '싫어해']

#### 4) 빈(empty) BOW 생성

In [0]:
import pandas as pd
import numpy as np

n_words = len(token_dict) # 전체 고유 토큰의 수
n_sentence = len(sentence_ls) # 전체 문장의 수

BOW = pd.DataFrame(
    np.zeros((n_sentence, n_words)),
    columns = token_in_order,
    index = ['문장_1', '문장_2'],
    dtype = int,
)

In [0]:
BOW

      나는  양념  치킨을  좋아해  하지만  후라이드  싫어해
문장_1   0   0    0    0    0     0    0
문장_2   0   0    0    0    0     0    0

#### 5) 각 토큰을 BOW에 하나씩 담는다.

In [0]:
for i, sentence in enumerate(sentence_ls):
    for token in sentence:
        
        token_location = token_dict[token] # 해당 토큰의 위치(column)
        BOW.iloc[i, token_location] += 1

In [0]:
BOW

      나는  양념  치킨을  좋아해  하지만  후라이드  싫어해
문장_1   1   1    2    1    1     1    1
문장_2   1   1    2    1    1     1    1



---

https://en.wikipedia.org/wiki/Document-term_matrix

# 2 TDM(Term-Document Matrix)

In [0]:
d1 = '오늘 동물원에서 원숭이를 봤어'
d2 = '오늘 동물원에서 코끼리를 봤어'
d3 = '동물원에서 원숭이에게 바나나를 줬어'

document_ls = [d1, d2, d3]

### 1) 띄어쓰기 단위 토큰화

In [0]:
document_ls = [document.split() for document in document_ls]
document_ls

[['오늘', '동물원에서', '원숭이를', '봤어'],
 ['오늘', '동물원에서', '코끼리를', '봤어'],
 ['동물원에서', '원숭이에게', '바나나를', '줬어']]

### 2) 각 고유 토큰에 인덱스(Index) 지정

In [0]:
from collections import defaultdict

token_dict = defaultdict(lambda : len(token_dict))

for document in document_ls:
    for token in document:
        token_dict[token]

In [0]:
token_dict

defaultdict(<function __main__.<lambda>>,
            {'동물원에서': 1,
             '바나나를': 6,
             '봤어': 3,
             '오늘': 0,
             '원숭이를': 2,
             '원숭이에게': 5,
             '줬어': 7,
             '코끼리를': 4})

### 3) 토큰 인덱스 정렬

In [0]:
index_token_ls = sorted((value, key) for key, value in token_dict.items())
index_token_ls

[(0, '오늘'),
 (1, '동물원에서'),
 (2, '원숭이를'),
 (3, '봤어'),
 (4, '코끼리를'),
 (5, '원숭이에게'),
 (6, '바나나를'),
 (7, '줬어')]

In [0]:
token_in_order = [tup[1] for tup in index_token_ls]
token_in_order

['오늘', '동물원에서', '원숭이를', '봤어', '코끼리를', '원숭이에게', '바나나를', '줬어']

### 4) 빈(empty) TDM 생성

In [0]:
import pandas as pd
import numpy as np

n_words = len(token_dict) # 전체 고유 토큰의 수
n_document = len(document_ls) # 전체 문서의 수

TDM = pd.DataFrame(
    np.zeros((n_document, n_words)),
    columns = token_in_order,
    index = ['문서_1', '문서_2', '문서_3'],
    dtype = int,
)

In [0]:
TDM

      오늘  동물원에서  원숭이를  봤어  코끼리를  원숭이에게  바나나를  줬어
문서_1   0      0     0   0     0      0     0   0
문서_2   0      0     0   0     0      0     0   0
문서_3   0      0     0   0     0      0     0   0

### 5) 각 토큰을 TDM에 담는다

In [0]:
for i, document in enumerate(document_ls):
    for token in document:
        
        token_location = token_dict[token] # 해당 토큰의 위치(column)
        TDM.iloc[i, token_location] += 1

In [0]:
TDM

      오늘  동물원에서  원숭이를  봤어  코끼리를  원숭이에게  바나나를  줬어
문서_1   1      1     1   1     0      0     0   0
문서_2   1      1     0   1     1      0     0   0
문서_3   0      1     0   0     0      1     1   1

# 3 TF-IDF (Term Frequency-Inverse Document Frequency)

<img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/10109d0e60cc9d50a1ea2f189bac0ac29a030a00" />



*  TF(단어 빈도, Term Frequency) : 단어가 문서 내에 등장하는 빈도
*  IDF(역문서 빈도, Inverse Document Frequency) : 단어가 여러 문서에 공통적으로 등장하는 빈도
*  한 문서 내에 자주 등장하고 다른 문서에 자주 등장하지 않는 단어를 주요 단어로 판별할 수 있음




<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Logarithm_plots.png/300px-Logarithm_plots.png" />

https://en.wikipedia.org/wiki/Tf%E2%80%93idf

In [0]:
d1 = "The cat sat on my face. I hate a cat."
d2 = "The dog sat on my bed. I love a dog."

## 3.1 직접계산하기 1

weighting schema|weight
--|--
tf (term frequency)|<img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/91699003abf4fe8bdf861bbce08e73e71acf5fd4" />
idf(inverse document frequency) |<img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/864fcfdc0c16344c11509f724f1aa7081cf9f657" />

### 1) 띄어쓰기 단위 토큰화

In [0]:
bowA = d1.split()
bowB = d2.split()

In [0]:
bowB

['The', 'dog', 'sat', 'on', 'my', 'bed.', 'I', 'love', 'a', 'dog.']

### 2) TDM 생성

In [0]:
wordSet = set(bowA).union(set(bowB))

In [0]:
wordSet

{'I',
 'The',
 'a',
 'bed.',
 'cat',
 'cat.',
 'dog',
 'dog.',
 'face.',
 'hate',
 'love',
 'my',
 'on',
 'sat'}

In [0]:
wordDictA = dict.fromkeys(wordSet, 0) 
wordDictB = dict.fromkeys(wordSet, 0)

In [0]:
wordDictA

{'I': 0,
 'The': 0,
 'a': 0,
 'bed.': 0,
 'cat': 0,
 'cat.': 0,
 'dog': 0,
 'dog.': 0,
 'face.': 0,
 'hate': 0,
 'love': 0,
 'my': 0,
 'on': 0,
 'sat': 0}

In [0]:
for word in bowA:
    wordDictA[word]+=1
    
for word in bowB:
    wordDictB[word]+=1

In [0]:
wordDictA

{'I': 1,
 'The': 1,
 'a': 1,
 'bed.': 0,
 'cat': 1,
 'cat.': 1,
 'dog': 0,
 'dog.': 0,
 'face.': 1,
 'hate': 1,
 'love': 0,
 'my': 1,
 'on': 1,
 'sat': 1}

In [0]:
import pandas as pd
pd.DataFrame([wordDictA, wordDictB])

   I  The  a  bed.  cat  cat.  dog  dog.  face.  hate  love  my  on  sat
0  1    1  1     0    1     1    0     0      1     1     0   1   1    1
1  1    1  1     1    0     0    1     1      0     0     1   1   1    1

### 3) TF 계산

<img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/91699003abf4fe8bdf861bbce08e73e71acf5fd4" />

In [0]:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [0]:
tfBowA = computeTF(wordDictA, bowA)
tfBowB = computeTF(wordDictB, bowB)

In [0]:
tfBowA

{'I': 0.1,
 'The': 0.1,
 'a': 0.1,
 'bed.': 0.0,
 'cat': 0.1,
 'cat.': 0.1,
 'dog': 0.0,
 'dog.': 0.0,
 'face.': 0.1,
 'hate': 0.1,
 'love': 0.0,
 'my': 0.1,
 'on': 0.1,
 'sat': 0.1}

In [0]:
tfBowB

{'I': 0.1,
 'The': 0.1,
 'a': 0.1,
 'bed.': 0.1,
 'cat': 0.0,
 'cat.': 0.0,
 'dog': 0.1,
 'dog.': 0.1,
 'face.': 0.0,
 'hate': 0.0,
 'love': 0.1,
 'my': 0.1,
 'on': 0.1,
 'sat': 0.1}

### 4) IDF  계산

<img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/864fcfdc0c16344c11509f724f1aa7081cf9f657" />

In [0]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [0]:
idfs = computeIDF([wordDictA, wordDictB])

### 5) TF-IDF 계산

In [0]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [0]:
tfidfBowA = computeTFIDF(tfBowA, idfs)
tfidfBowB = computeTFIDF(tfBowB, idfs)

In [0]:
import pandas as pd
pd.DataFrame([tfidfBowA, tfidfBowB])

,I,The,a,bed.,cat,cat.,dog,dog.,face.,hate,love,my,on,sat
0,0.0,0.0,0.0,0.000000,0.030103,0.030103,0.000000,0.000000,0.030103,0.030103,0.000000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.030103,0.000000,0.000000,0.030103,0.030103,0.000000,0.000000,0.030103,0.0,0.0,0.0

## 3.2 직접계산하기2

weighting schema|weight
--|--
tf(double normalization 0.5)|<img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/45badc1c70ec2caa00ed8c21ed75bd9f8d3e650c" />
idf(inverse document frequency smooth)|<img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/23e5ae785c1ddc6bd95d404ea3fac2477fff5eff" />

In [22]:
from math import log10

# document 내 토큰이 등장한 빈도수 계산
def f(t, d):
    return d.count(t)

# tf 계산
def tf(t, d):
    return 0.5 + 0.5*f(t,d)/max([f(w,d) for w in d])

# idf 계산
def idf(t, D):
    numerator = len(D)
    denominator = 1 + len([ True for d in D if t in d])
    return log10(numerator/denominator)

# tf-idf 계산
def tfidf(t, d, D):
    return tf(t,d)*idf(t, D)

# 공백을 기준으로 토큰과
def tokenizer(d):
    return d.split()

# tfidf 계산  
def tfidfScorer(D):
    tokenized_D = [tokenizer(d) for d in D]
    result = []
    for d in tokenized_D:
        result.append([(t, tfidf(t, d, tokenized_D)) for t in d])
    return result

corpus = [d1, d2]

for i, doc in enumerate(tfidfScorer(corpus)):
    print('====== document[%d] ======' % i)
    print(doc)

====== document[0] ======
[('The', -0.17609125905568127), ('cat', 0.0), ('sat', -0.17609125905568127), ('on', -0.17609125905568127), ('my', -0.17609125905568127), ('face.', 0.0), ('I', -0.17609125905568127), ('hate', 0.0), ('a', -0.17609125905568127), ('cat.', 0.0)]
====== document[1] ======
[('The', -0.17609125905568127), ('dog', 0.0), ('sat', -0.17609125905568127), ('on', -0.17609125905568127), ('my', -0.17609125905568127), ('bed.', 0.0), ('I', -0.17609125905568127), ('love', 0.0), ('a', -0.17609125905568127), ('dog.', 0.0)]

## 3.3 sklearn 사용하여 계산하기

### 1) sklearn 활용 TF-IDF

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import defaultdict

document_ls = [d1, d2, d2]

vectorizer = TfidfVectorizer()
tfidf = vectorizer.fit_transform(document_ls)

word2id = defaultdict(lambda : 0)
for idx, feature in enumerate(vectorizer.get_feature_names()):
    word2id[feature] = idx

### 2) dataframe으로 변환하여 출력

In [21]:
import pandas as pd
count_vect_df = pd.DataFrame(tfidf.todense(), columns=vectorizer.get_feature_names())
count_vect_df

,bed,cat,dog,face,hate,love,my,on,sat,the
0,0.000000,0.735448,0.000000,0.367724,0.367724,0.000000,0.217184,0.217184,0.217184,0.217184
1,0.344779,0.000000,0.689558,0.000000,0.000000,0.344779,0.267752,0.267752,0.267752,0.267752
2,0.344779,0.000000,0.689558,0.000000,0.000000,0.344779,0.267752,0.267752,0.267752,0.267752



---

# 4 CBoW (Continious Bag of Words)

In [0]:
from __future__ import print_function
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torch.autograd import Variable

torch.manual_seed(1)

In [0]:
sentence = """When forty winters shall besiege thy brow,
And dig deep trenches in thy beauty's field,
Thy youth's proud livery so gazed on now,
Will be a totter'd weed of small worth held:
Then being asked, where all thy beauty lies,
Where all the treasure of thy lusty days;
To say, within thine own deep sunken eyes,
Were an all-eating shame, and thriftless praise.
How much more praise deserv'd thy beauty's use,
If thou couldst answer 'This fair child of mine
Shall sum my count, and make my old excuse,'
Proving his beauty by succession thine!
This were to be new made when thou art old,
And see thy blood warm when thou feel'st it cold.""".split()


vocab = list(set(sentence))
vocab_size = len(vocab)
vocab_size

97

In [0]:
data = \
[([sentence[idx-2],sentence[idx-1],sentence[idx+1],sentence[idx+2]],sentence[idx])\
 for idx in range(2,len(sentence)-2)]
print(data[:3],end='\n\n\n')

word_to_ix = {val : idx for idx,val in enumerate(vocab)}
print(word_to_ix)

[(['When', 'forty', 'shall', 'besiege'], 'winters'), (['forty', 'winters', 'besiege', 'thy'], 'shall'), (['winters', 'shall', 'thy', 'brow,'], 'besiege')]


{'How': 0, 'lies,': 1, 'livery': 2, 'treasure': 3, 'small': 4, 'gazed': 5, 'warm': 6, 'all': 7, 'shame,': 8, 'use,': 9, 'by': 10, 'fair': 11, 'blood': 12, 'were': 13, 'dig': 14, 'thriftless': 15, 'worth': 16, 'new': 17, "beauty's": 18, 'Were': 19, 'being': 20, 'the': 21, 'sunken': 22, 'his': 23, 'thy': 24, "totter'd": 25, 'deep': 26, "feel'st": 27, 'And': 28, 'when': 29, "deserv'd": 30, 'child': 31, 'forty': 32, 'besiege': 33, 'see': 34, 'When': 35, 'beauty': 36, 'To': 37, 'weed': 38, 'eyes,': 39, "excuse,'": 40, 'brow,': 41, 'now,': 42, 'shall': 43, "youth's": 44, 'on': 45, 'old,': 46, 'lusty': 47, 'praise': 48, 'couldst': 49, 'Thy': 50, 'art': 51, 'This': 52, 'all-eating': 53, 'and': 54, 'made': 55, 'make': 56, 'in': 57, 'Will': 58, 'an': 59, 'where': 60, 'it': 61, 'sum': 62, 'thou': 63, 'proud': 64, 'held:': 65, "'This": 66, 'thine!': 67, 'succession': 68, 'If': 69, 'Where': 70, 'field,': 71, 'within': 72, 'of': 73, 'Proving': 74, 'praise.': 75, 'my': 76, 'much': 77, 'trenches': 78, 'mine': 79, 'Then': 80, 'own': 81, 'thine': 82, 'days;': 83, 'so': 84, 'old': 85, 'say,': 86, 'Shall': 87, 'winters': 88, 'answer': 89, 'more': 90, 'count,': 91, 'be': 92, 'asked,': 93, 'to': 94, 'cold.': 95, 'a': 96}

In [0]:
class CBOW(nn.Module) : 
    
    def __init__(self,vocab_size, embedding_dim):  
        
        super(CBOW,self).__init__()
        
        self.vocab_size = vocab_size
        self.embedding_dim = 10#embedding_size
        self.embeddings = nn.Embedding(self.vocab_size,self.embedding_dim)
        self.linear1 = nn.Linear(self.embedding_dim,128)
        self.linear2 = nn.Linear(128,self.vocab_size)
    
    def forward(self,inputs) : 
        self.embeds = self.embeddings(inputs).sum(dim=0).unsqueeze(0)
        out = F.relu(self.linear1(self.embeds))
        out = self.linear2(out)
            
        log_probs = F.log_softmax(out,dim=1)
        return log_probs
    
    def get_word_vector(self,target,word_to_ix) : 
        word2id = torch.LongTensor([word_to_ix[target]])
        return self.embeddings(word2id).view(1, -1)
        
    
def make_context_vector(context, word_to_ix):
    idxs = [word_to_ix[w] for w in context]
    word2id = torch.tensor(idxs, dtype=torch.long)
    return word2id

def make_target_vector(target, word_to_ix):
    idxs = [word_to_ix[target]]
    return torch.LongTensor(idxs)

In [0]:
EMBEDDING_DIM = 10
EPOCH = 20
VERVOSE = 5

In [0]:
def run_cbow(vocab_size , word_to_ix) :
    loss_function = nn.NLLLoss()
    model = CBOW(vocab_size, EMBEDDING_DIM)
    optimizer = optim.SGD(model.parameters(), lr=0.001)

    for epoch in range(EPOCH):
        total_loss = 0
        for context, target in data:

            # 아래의 프로세스는 word : ID 로 converting 시켜주는 process 이다.
            context_idxs = make_context_vector(context,word_to_ix)
            target_idxs = torch.LongTensor([word_to_ix[target]])

            # pytorch는 gradient 를 누진적으로 계산하기 때문에, 0으로 만들어주어야한다.
            model.zero_grad()

            # input 값을 넣으면 log_probs 라는 output 값이 나온다.
            log_probs = model(context_idxs)

            # 이 값을 위에서 정의한 손실 함수를 기반으로 loss 를 계산한다.
            loss = loss_function(log_probs, target_idxs)

            # 위에서 나온 loss를 기반으로 back propagation 을 돌린다.
            # 또한, optimizer 를 update 하면서 parameter 또한 update 한다.
            loss.backward()
            optimizer.step()
            total_loss += loss

            if epoch % VERVOSE == 0 : 
                loss_avg = float(total_loss / len(data))
                print("{}/{} loss {:.2f}".format(epoch, EPOCH, loss_avg))
    return model

In [0]:
run_cbow(vocab_size , word_to_ix)

0/20 loss 0.04
0/20 loss 0.09
0/20 loss 0.13
0/20 loss 0.17
0/20 loss 0.21
0/20 loss 0.25
0/20 loss 0.30
0/20 loss 0.34
0/20 loss 0.38
0/20 loss 0.41
0/20 loss 0.45
0/20 loss 0.50
0/20 loss 0.54
0/20 loss 0.59
0/20 loss 0.64
0/20 loss 0.68
0/20 loss 0.71
0/20 loss 0.76
0/20 loss 0.81
0/20 loss 0.85
0/20 loss 0.89
0/20 loss 0.92
0/20 loss 0.95
0/20 loss 1.00
0/20 loss 1.04
0/20 loss 1.08
0/20 loss 1.12
0/20 loss 1.17
0/20 loss 1.23
0/20 loss 1.27
0/20 loss 1.31
0/20 loss 1.35
0/20 loss 1.39
0/20 loss 1.43
0/20 loss 1.48
0/20 loss 1.52
0/20 loss 1.55
0/20 loss 1.60
0/20 loss 1.65
0/20 loss 1.69
0/20 loss 1.73
0/20 loss 1.77
0/20 loss 1.81
0/20 loss 1.85
0/20 loss 1.90
0/20 loss 1.94
0/20 loss 1.98
0/20 loss 2.03
0/20 loss 2.07
0/20 loss 2.10
0/20 loss 2.15
0/20 loss 2.19
0/20 loss 2.23
0/20 loss 2.27
0/20 loss 2.31
0/20 loss 2.36
0/20 loss 2.40
0/20 loss 2.44
0/20 loss 2.49
0/20 loss 2.54
0/20 loss 2.59
0/20 loss 2.63
0/20 loss 2.68
0/20 loss 2.72
0/20 loss 2.76
0/20 loss 2.81
0/20 loss 2.85
0/20 loss 2.89
0/20 loss 2.93
0/20 loss 2.97
0/20 loss 3.02
0/20 loss 3.06
0/20 loss 3.10
0/20 loss 3.15
0/20 loss 3.20
0/20 loss 3.24
0/20 loss 3.28
0/20 loss 3.31
0/20 loss 3.35
0/20 loss 3.40
0/20 loss 3.44
0/20 loss 3.48
0/20 loss 3.52
0/20 loss 3.56
0/20 loss 3.61
0/20 loss 3.65
0/20 loss 3.69
0/20 loss 3.73
0/20 loss 3.76
0/20 loss 3.79
0/20 loss 3.84
0/20 loss 3.88
0/20 loss 3.93
0/20 loss 3.97
0/20 loss 4.01
0/20 loss 4.06
0/20 loss 4.11
0/20 loss 4.15
0/20 loss 4.19
0/20 loss 4.23
0/20 loss 4.27
0/20 loss 4.31
0/20 loss 4.35
0/20 loss 4.39
0/20 loss 4.44
0/20 loss 4.48
0/20 loss 4.52
0/20 loss 4.56
0/20 loss 4.61
0/20 loss 4.66
0/20 loss 4.70
5/20 loss 0.04
5/20 loss 0.08
5/20 loss 0.12
5/20 loss 0.16
5/20 loss 0.20
5/20 loss 0.23
5/20 loss 0.27
5/20 loss 0.31
5/20 loss 0.34
5/20 loss 0.37
5/20 loss 0.41
5/20 loss 0.45
5/20 loss 0.49
5/20 loss 0.54
5/20 loss 0.58
5/20 loss 0.62
5/20 loss 0.66
5/20 loss 0.70
5/20 loss 0.75
5/20 loss 0.79
5/20 loss 0.83
5/20 loss 0.85
5/20 loss 0.89
5/20 loss 0.93
5/20 loss 0.97
5/20 loss 1.01
5/20 loss 1.05
5/20 loss 1.09
5/20 loss 1.14
5/20 loss 1.19
5/20 loss 1.22
5/20 loss 1.26
5/20 loss 1.30
5/20 loss 1.34
5/20 loss 1.39
5/20 loss 1.42
5/20 loss 1.45
5/20 loss 1.50
5/20 loss 1.54
5/20 loss 1.58
5/20 loss 1.62
5/20 loss 1.66
5/20 loss 1.69
5/20 loss 1.73
5/20 loss 1.78
5/20 loss 1.82
5/20 loss 1.86
5/20 loss 1.90
5/20 loss 1.94
5/20 loss 1.97
5/20 loss 2.01
5/20 loss 2.05
5/20 loss 2.09
5/20 loss 2.12
5/20 loss 2.16
5/20 loss 2.20
5/20 loss 2.25
5/20 loss 2.29
5/20 loss 2.33
5/20 loss 2.38
5/20 loss 2.42
5/20 loss 2.46
5/20 loss 2.50
5/20 loss 2.54
5/20 loss 2.58
5/20 loss 2.62
5/20 loss 2.65
5/20 loss 2.69
5/20 loss 2.73
5/20 loss 2.77
5/20 loss 2.80
5/20 loss 2.84
5/20 loss 2.87
5/20 loss 2.92
5/20 loss 2.96
5/20 loss 3.00
5/20 loss 3.04
5/20 loss 3.07
5/20 loss 3.11
5/20 loss 3.15
5/20 loss 3.19
5/20 loss 3.23
5/20 loss 3.26
5/20 loss 3.30
5/20 loss 3.35
5/20 loss 3.39
5/20 loss 3.43
5/20 loss 3.46
5/20 loss 3.49
5/20 loss 3.52
5/20 loss 3.56
5/20 loss 3.60
5/20 loss 3.65
5/20 loss 3.69
5/20 loss 3.73
5/20 loss 3.77
5/20 loss 3.81
5/20 loss 3.85
5/20 loss 3.89
5/20 loss 3.92
5/20 loss 3.96
5/20 loss 3.99
5/20 loss 4.03
5/20 loss 4.07
5/20 loss 4.11
5/20 loss 4.14
5/20 loss 4.18
5/20 loss 4.22
5/20 loss 4.26
5/20 loss 4.30
5/20 loss 4.34
10/20 loss 0.04
10/20 loss 0.08
10/20 loss 0.12
10/20 loss 0.15
10/20 loss 0.19
10/20 loss 0.21
10/20 loss 0.25
10/20 loss 0.28
10/20 loss 0.31
10/20 loss 0.34
10/20 loss 0.37
10/20 loss 0.41
10/20 loss 0.45
10/20 loss 0.50
10/20 loss 0.54
10/20 loss 0.58
10/20 loss 0.62
10/20 loss 0.66
10/20 loss 0.70
10/20 loss 0.74
10/20 loss 0.77
10/20 loss 0.80
10/20 loss 0.83
10/20 loss 0.87
10/20 loss 0.91
10/20 loss 0.95
10/20 loss 0.98
10/20 loss 1.03
10/20 loss 1.07
10/20 loss 1.11
10/20 loss 1.15
10/20 loss 1.18
10/20 loss 1.22
10/20 loss 1.26
10/20 loss 1.31
10/20 loss 1.34
10/20 loss 1.37
10/20 loss 1.41
10/20 loss 1.45
10/20 loss 1.49
10/20 loss 1.52
10/20 loss 1.56
10/20 loss 1.59
10/20 loss 1.63
10/20 loss 1.67
10/20 loss 1.71
10/20 loss 1.75
10/20 loss 1.79
10/20 loss 1.83
10/20 loss 1.86
10/20 loss 1.89
10/20 loss 1.93
10/20 loss 1.96
10/20 loss 1.99
10/20 loss 2.03
10/20 loss 2.07
10/20 loss 2.11
10/20 loss 2.15
10/20 loss 2.19
10/20 loss 2.23
10/20 loss 2.27
10/20 loss 2.31
10/20 loss 2.35
10/20 loss 2.38
10/20 loss 2.42
10/20 loss 2.46
10/20 loss 2.48
10/20 loss 2.52
10/20 loss 2.55
10/20 loss 2.59
10/20 loss 2.61
10/20 loss 2.64
10/20 loss 2.67
10/20 loss 2.72
10/20 loss 2.76
10/20 loss 2.80
10/20 loss 2.84
10/20 loss 2.86
10/20 loss 2.90
10/20 loss 2.94
10/20 loss 2.97
10/20 loss 3.01
10/20 loss 3.04
10/20 loss 3.08
10/20 loss 3.12
10/20 loss 3.16
10/20 loss 3.20
10/20 loss 3.23
10/20 loss 3.26
10/20 loss 3.28
10/20 loss 3.33
10/20 loss 3.36
10/20 loss 3.40
10/20 loss 3.45
10/20 loss 3.48
10/20 loss 3.52
10/20 loss 3.56
10/20 loss 3.59
10/20 loss 3.63
10/20 loss 3.66
10/20 loss 3.68
10/20 loss 3.72
10/20 loss 3.76
10/20 loss 3.79
10/20 loss 3.83
10/20 loss 3.85
10/20 loss 3.89
10/20 loss 3.92
10/20 loss 3.96
10/20 loss 3.98
10/20 loss 4.02
15/20 loss 0.03
15/20 loss 0.07
15/20 loss 0.11
15/20 loss 0.14
15/20 loss 0.18
15/20 loss 0.19
15/20 loss 0.23
15/20 loss 0.26
15/20 loss 0.29
15/20 loss 0.32
15/20 loss 0.34
15/20 loss 0.38
15/20 loss 0.42
15/20 loss 0.46
15/20 loss 0.50
15/20 loss 0.54
15/20 loss 0.58
15/20 loss 0.62
15/20 loss 0.66
15/20 loss 0.70
15/20 loss 0.73
15/20 loss 0.75
15/20 loss 0.78
15/20 loss 0.82
15/20 loss 0.85
15/20 loss 0.89
15/20 loss 0.93
15/20 loss 0.97
15/20 loss 1.01
15/20 loss 1.04
15/20 loss 1.08
15/20 loss 1.12
15/20 loss 1.15
15/20 loss 1.19
15/20 loss 1.23
15/20 loss 1.26
15/20 loss 1.29
15/20 loss 1.33
15/20 loss 1.37
15/20 loss 1.40
15/20 loss 1.44
15/20 loss 1.47
15/20 loss 1.50
15/20 loss 1.54
15/20 loss 1.58
15/20 loss 1.62
15/20 loss 1.66
15/20 loss 1.69
15/20 loss 1.73
15/20 loss 1.75
15/20 loss 1.78
15/20 loss 1.82
15/20 loss 1.85
15/20 loss 1.87
15/20 loss 1.91
15/20 loss 1.94
15/20 loss 1.98
15/20 loss 2.02
15/20 loss 2.06
15/20 loss 2.10
15/20 loss 2.13
15/20 loss 2.17
15/20 loss 2.21
15/20 loss 2.24
15/20 loss 2.27
15/20 loss 2.31
15/20 loss 2.33
15/20 loss 2.36
15/20 loss 2.40
15/20 loss 2.43
15/20 loss 2.45
15/20 loss 2.47
15/20 loss 2.50
15/20 loss 2.54
15/20 loss 2.58
15/20 loss 2.62
15/20 loss 2.65
15/20 loss 2.68
15/20 loss 2.72
15/20 loss 2.75
15/20 loss 2.78
15/20 loss 2.82
15/20 loss 2.84
15/20 loss 2.88
15/20 loss 2.92
15/20 loss 2.96
15/20 loss 2.99
15/20 loss 3.02
15/20 loss 3.05
15/20 loss 3.07
15/20 loss 3.11
15/20 loss 3.15
15/20 loss 3.18
15/20 loss 3.22
15/20 loss 3.25
15/20 loss 3.29
15/20 loss 3.32
15/20 loss 3.36
15/20 loss 3.39
15/20 loss 3.42
15/20 loss 3.44
15/20 loss 3.47
15/20 loss 3.51
15/20 loss 3.54
15/20 loss 3.58
15/20 loss 3.59
15/20 loss 3.62
15/20 loss 3.65
15/20 loss 3.68
15/20 loss 3.70
15/20 loss 3.74

CBOW(
  (embeddings): Embedding(97, 10)
  (linear1): Linear(in_features=10, out_features=128, bias=True)
  (linear2): Linear(in_features=128, out_features=97, bias=True)
)

In [0]:
model = CBOW(vocab_size,EMBEDDING_DIM)

def test_cbow(model , vocab , word_to_ix) :
    word_1 = vocab[10]
    word_2 = vocab[5]
    
    word_1_vec = model.get_word_vector(word_1,word_to_ix)
    word_2_vec = model.get_word_vector(word_2,word_to_ix)
    
    cosine_similarity = (torch.mm(word_1_vec, word_2_vec.transpose(0,1))) / (torch.norm(word_1_vec) * torch.norm(word_2_vec))
    similarity = cosine_similarity.data.numpy()[0][0]
    print('word1 : ',word_1)
    print('word2 : ',word_2)
    print('similarity : ',similarity)

In [0]:
test_cbow(model,vocab,word_to_ix)

word1 :  by
word2 :  gazed
similarity :  0.31032938



---

# 5 CNN(Convolution Neural Network)